.container {
  padding: 20px !important;
}

.title {
  text-align: center;
}

.product {
  border: solid #ccc 1px;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 4px 2px #c4c4c4;
  box-shadow: 1px 1px 4px 2px #c4c4c4;
}

.product .title {
  font-weight: bold;
  text-align: left !important;
}

.btn-add-to-cart {
  margin-top: 10px;
}

.cart-count {
  font-weight: bold;
  font-size: 20px;
}
